

.container{
    overflow: auto;
}


.header-table{
    display: flex;
    align-items: center;
    padding: 50px 15px 20px 10px;
    max-width: 800px;
    margin: 0 auto;
}

.table {
    max-width: 800px;
    margin: 0 auto;
}


.table thead th{
    border-bottom: none !important;
}

.table-striped tbody tr:nth-of-type(odd){
    background-color: #FAFAFA !important;
}

.table td, .table th{
    border-top: none !important;
    padding:10px !important;
}


.btn-acoes{
    width: 100px;
    border: 1px solid red;
}

 .btn.btn-primary.btn-criar{
    margin: 0px 0px 0px auto ;
    display: block ;
}


.title-form{
    font-size: 2rem;
    color: #7066e0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.campo-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 100%;
}

.campo-container input{
    width: 100%;
    height: 38px;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 0px 10px;
}


.campo-container label{
    color: #000;

}





